

header > nav ul{
	list-style: none;
	background-color: #4f4f4f;
	margin:0;
	text-align: center;
	font-size: 18pt;
}
header > nav ul li > a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18pt;
}

header > nav ul li{
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
}

footer{
	background-color: #3f3f3f;
	color: #ffffff;
	text-align: center;
	padding: 10px;
	position: fixed;
	text-decoration: #ffffff;
	bottom: 0;
	width: 100%
}
main{
	margin-top: 1%;
}

.myphoto{
	text-align: center;
}

.myphoto img{
	width: 25%;
	border: 5px solid #000000;
	border-radius: 50%;
}

.contact-form,.social-media{
	text-align: center;
	width: 45%;
	position: relative;
	float: left;
	border: 1px solid black;
	padding: 10px;
	margin-left: 2%; 
	border-radius: 5px;
}

.social-media>a{
	text-align: center;
	display: block;
	text-decoration: none;
	color: black;
	margin-top: 2%;
	margin-bottom: 2%;
}